h1 {
  /* background-color: red; */
  color: rgb(8, 8, 8);
  font-size: 250%;
}

/* body {
  background-color: red;
} */

.vedio {
  align-items: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
}

footer {
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: blue;
  font-size: 150%;
}
